<form [formGroup]="conceptoGroup" (ngSubmit)="saveForm()">
    <!-- Titulo: Información de Solicitud -->
    <div class="row">
        <div class="col-md-12 bg-white px-4 pb-3">
            <ngx-general-table [config]="configuracion" [datos]="datosConcepto"></ngx-general-table>
        </div>
    </div>
    <!-- Botones: regresar, Siguiente -->
    <div class="row text-center">
        <div class="col-6">
            <button mat-button matStepperPrevious class="btn btn-primary m-0 mt-4 text-white" type="button">Regresar</button>
        </div>
        <div class="form-group col-6">
            <button mat-button matStepperNext type="submit" class="btn btn-success m-0 mt-4">Siguiente</button>
        </div>
    </div>
    <!-- Fin Botones: Regresar, Siguiente -->
</form>