<div class="container">
    <div class="container pb-3">
        <h6 class="text-white bg-dark p-2 px-4 rounded w-100">
            {{'RELACION_DEVOLUCIONES.nueva_relacion' | translate}}
        </h6>
        <div class="row">
            <div class="col-md-6 form-group">
                <label>{{ 'GLOBAL.unidad_ejecutora' | translate}}</label>
                <input *ngIf="!!relacionDevoluciones" class="form-control" id="areaFuncional" disabled placeholder="{{relacionDevoluciones.areaFuncional.label}}">
            </div>
            <div class="col-md-6 form-group">
                <label>{{ 'GLOBAL.consecutivo' | translate}}</label>
                <input *ngIf="!!relacionDevoluciones" class="form-control" id="areaFuncional" disabled placeholder="{{relacionDevoluciones.consecutivo}}">
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-md-4 form-group">
                <label>{{'RELACION_DEVOLUCIONES.desde' | translate}}</label>
                <input *ngIf="!!relacionDevoluciones" type="date" class="form-control" id="fechaInicial" disabled value="{{relacionDevoluciones.fechaInicio | date:'yyyy-MM-dd'}}">
            </div>
            <div class="col-md-4 form-group">
                <label>{{'RELACION_DEVOLUCIONES.hasta' | translate}}</label>
                <input *ngIf="!!relacionDevoluciones" type="date" class="form-control" id="fecha_final" value="{{relacionDevoluciones.fechaFin | date:'yyyy-MM-dd'}}" disabled>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="datosContab" class="container py-2 px-0">
            <ngx-general-table [config]="configuracionTabla" [datos]="datosTabla"></ngx-general-table>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-4 form-group">
            <label>{{ 'GLOBAL.Total' | translate}}</label>
            <input *ngIf="!!relacionDevoluciones" currencyMask class="form-control" id="total" disabled [value]="total">
        </div>
    </div>
    <div class="container">
        <div class="row pt-2 text-center">
            <div [ngClass]="{'col-md-4': tituloAccion === 'revisar', 'col-md-6' : tituloAccion !== 'revisar'}">
                <button mat-button matStepperPrevious class="btn btn-primary text-white m-0 mt-4">{{ 'GLOBAL.regresar' | translate}}</button>
            </div>
            <div class="col-md-4" *ngIf="tituloAccion === 'revisar'">
                <button mat-button class="btn btn-danger text-white m-0 mt-4" (click)="guardar('rechazar')">{{ 'GLOBAL.rechazar' | translate}}</button>
            </div>
            <div class="col-md-4" *ngIf="tituloAccion === 'revisar'">
                <button mat-button class="btn btn-success text-white m-0 mt-4" (click)="guardar('aprobar')">{{ 'GLOBAL.aprobar' | translate}}</button>
            </div>
            <div class="col-md-6 form-group" *ngIf="tituloAccion === 'editar' || tituloAccion === 'crear'">
                <button type="button" class="btn btn-success text-white m-0 mt-4" data-toggle="modal" (click)="guardar()">{{ 'GLOBAL.guardar' | translate}}</button>
            </div>
            <div class="col-md-6" *ngIf="tituloAccion === 'ver'">
                <button type="button" class="btn btn-success text-white m-0 mt-4" data-toggle="modal" [routerLink]="['/pages/relaciondevoluciones/lista']" routerLinkActive="router-link-active">{{ 'GLOBAL.terminar' | translate}}</button>
            </div>
        </div>
    </div>
    <!-- Fin Botones: Regresar, Siguiente -->
</div>
