<ng-container>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="{{column.key}}" *ngFor="let column of columnNames">
            <th mat-header-cell *matHeaderCellDef> {{column.title.name}}</th>
            <td mat-cell *matCellDef="let element" class="{{column.pipe.class}}"> {{element[column.key]}}
                <mat-icon title="Editar" *ngIf="column.title.name==='acciones' && (element.Estado==='Elaborado' || element.Estado==='Rechazado')" (click)="editarSolicitud(element)" routerLinkActive="router-link-active" >edit</mat-icon>
                <mat-icon title="Enviar" *ngIf="column.title.name==='acciones' && element.Estado==='Elaborado'" (click)="enviarRevision(element)">send</mat-icon>
                <mat-icon title="Revisar" *ngIf="column.title.name==='acciones' && element.Estado==='Por revisar'" (click)="revision(element)">visibility</mat-icon>
                <mat-icon title="Ver" *ngIf="column.title.name==='acciones' && element.Estado==='Aprobado'" (click)="ver(element)">visibility</mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr [ngClass]="{highlight: selectedRowIndex === row.Id}" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="agregarSolicitud(row)"></tr>
    </table>
</ng-container>
