<form [formGroup]="datosBeneficiario" (ngSubmit)="validarFormulario(datosBeneficiario.value)">
    <div class="form-group row justify-content-between">
        <div class="col-md-4">
            <label>{{ 'GLOBAL.unidad_ejecutora' | translate}}</label>
            <mat-select class="form-control" placeholder="{{ 'GLOBAL.seleccione' | translate}}" formControlName="areaFuncional" [class.is-invalid]="isInvalid('areaFuncional')" [disabled]="!editable">
                <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport-corto">
                    <mat-option *cdkVirtualFor="let opcion of opcionesAreaFuncional" [value]="opcion">
                        {{opcion.label}}
                    </mat-option>
                </cdk-virtual-scroll-viewport>
            </mat-select>
        </div>
        <div class="col-md-4">
            <label> {{ 'GLOBAL.consecutivo' | translate}}</label>
            <input type="text" class="form-control" formControlName="consecutivo" [readonly]="!editable">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            <label>{{ 'ORDEN_PAGO.numero_sol_orden_giro' | translate}}</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAutorizacionGiro" [disabled]="!editable">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <input class="form-control" formControlName="solicitudGiro" [class.is-invalid]="isInvalid('solicitudGiro')" disabled [value]="solicGiro">
            </div>
        </div>
        <div class="col-md-4">
            <label for="vigencia">{{ 'GLOBAL.vigencia' | translate}}</label>
            <mat-select class="form-control" placeholder="{{ 'GLOBAL.seleccione' | translate}}" formControlName="vigencia" [class.is-invalid]="isInvalid('vigencia')" [disabled]="!editable">
                <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport-corto">
                    <mat-option *cdkVirtualFor="let vigencia of vigencias" [value]="vigencia">
                        {{vigencia?.valor}}
                    </mat-option>
                </cdk-virtual-scroll-viewport>
            </mat-select>
        </div>
    </div>
    <h6 class="text-white bg-primary d-inline-block p-2 px-4 rounded">
        {{ 'SOLICITUD_GIRO.datos_beneficiario' | translate}}
    </h6>
    <div class="form-group row">
        <div class="col-md-3">
            <label for="numeroId">{{ 'GLOBAL.numero_documento' | translate}}</label>
            <input type="number" class="form-control" id="numeroId" formControlName="numeroId"
                [class.is-invalid]="esInvalido('numeroId')" [readonly]="!editable">
        </div>
        <div class="col-md-9">
            <label for="nombre">{{ 'GLOBAL.nombre' | translate}}</label>
            <input class="form-control" id="nombre" formControlName="nombreBeneficiario" disabled>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label for="regimen">{{ 'ORDEN_PAGO.regimen' | translate}}</label>
            <input class="form-control" id="regimen" formControlName="regimenBeneficiario" disabled>
        </div>
        <div class="col-md-9">
            <label for="direccion">{{ 'GLOBAL.direccion' | translate}}</label>
            <input class="form-control" id="direccion" formControlName="direccionBeneficiario" disabled>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="banco">{{ 'GLOBAL.banco' | translate}}</label>
            <input class="form-control" id="banco" disabled formControlName="banco">
        </div>
        <div class="col-md-6">
            <label for="cuenta">{{ 'GLOBAL.numero_cuenta' | translate}}</label>
            <input type="number" class="form-control" disabled id="cuenta" formControlName="cuenta">
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-3">
            <a routerLink="../../ordenespago/lista" role="button" class="btn btn-primary text-white">
                {{ 'SOLICITUD_GIRO.volver_registros' | translate}}
            </a>
        </div>
        <div class="col-md-3 text-right">
            <button mat-button matStepperNext type="submit" class="btn btn-success">
                {{ 'GLOBAL.siguiente' | translate}}
            </button>
        </div>
    </div>
</form>

<!-- Modal: Seleccionar Rubro -->
<div class="modal fade" id="ModalAutorizacionGiro" tabindex="-1" role="dialog" aria-labelledby="AutorizacionGiroLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AutorizacionGiroLabel">{{ 'ORDEN_PAGO.sel_orden_giro' | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ngx-autorizacion-giro></ngx-autorizacion-giro>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary mr-auto" data-dismiss="modal">{{ 'GLOBAL.cerrar' | translate}}</button>
                <button type="button" class="btn btn-primary text-white" data-dismiss="modal">{{ 'GLOBAL.continuar' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal: Seleccionar Rubro -->
