.card-body {
    padding: 3%;
}

.card-title {
    margin-top: -4%;
    padding: 3%;
    text-align: center;
}

.table, .row {
    padding: 2%;
}

.consecutivo {
    text-align: left;
}

label {
    padding: 2%;
}

.btn-link {
    color: black;
}
