<form>
    <h6 class="text-white bg-primary d-inline-block p-2 px-4 rounded">Resumen de Solicitud</h6>
    <h6 class="text-white bg-dark p-2 px-4 rounded w-100">Información de Solicitud</h6>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>No. de Solicitud</label>
            <input class="form-control" disabled value="{{datosSolicitud?.numeroSolicitud}}">
        </div>
        <div class="col-md-3 form-group">
            <label>Área Funcional</label>
            <input class="form-control" disabled value="{{datosSolicitud?.areaFuncional?.label}}">
        </div>
        <div class="col-md-3 form-group">
            <label>Fecha</label>
            <input class="form-control" ngbDatepicker #d="ngbDatepicker" disabled
                value="{{datosSolicitud?.fechaSolicitud | date:'dd/MM/yyyy'}}">
        </div>
        <div class="col-md-3 form-group">
            <label>Tipo de solicitud</label>
            <input class="form-control" disabled
                value="{{tipoDevolucion==='impuestos' ? 'Impuestos' : (tipoDevolucion==='conceptos' ? 'Otros Conceptos' : '')}}">
        </div>
    </div>
    <h6 class="text-white bg-dark p-2 px-4 rounded w-100">Datos del Solicitante</h6>
    <div class="row">
        <div class="col-md-2 form-group">
            <label>Tipo de ID</label>
            <input class="form-control" disabled value="{{datosSolicitante?.tipoId}}">
        </div>
        <div class="col-md-4 form-group">
            <label>No. de ID</label>
            <input class="form-control" disabled value="{{datosSolicitante?.numeroId}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Nombres</label>
            <input class="form-control" disabled>
        </div>
        <div class="col-md-3 form-group d-flex align-items-end">
            <input class="form-control" disabled>
        </div>
        <div class="col-md-3 form-group">
            <label>Apellidos</label>
            <input class="form-control" disabled>
        </div>
        <div class="col-md-3 form-group d-flex align-items-end">
            <input class="form-control" disabled>
        </div>
    </div>
    <div class="row border-top border-primary mx-1 my-3"></div>
    <div class="row">
        <div class="col form-group">
            <label>Concepto</label>
            <input class="form-control" disabled value="{{datosSolicitante?.concepto?.Nombre}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label>Razón de la solicitud</label>
            <textarea class="form-control" disabled value="{{datosSolicitante?.razon}}"></textarea>
        </div>
    </div>

    <h6 class="text-white bg-dark p-2 px-4 rounded w-100" *ngIf="tipoDevolucion==='impuestos'">Impuestos</h6>
    <div class="container py-2 px-0" *ngIf="tipoDevolucion==='impuestos'">
        <ngx-general-table [config]="configTablaImpuestos" [datos]="datosTablaImpuestos"></ngx-general-table>
    </div>
    <h6 class="text-white bg-dark p-2 px-4 rounded w-100">Anexos</h6>
    <div class="container py-2 px-0">
        <ngx-general-table [config]="configTablaAnexos" [datos]="datosTablaAnexos"></ngx-general-table>
    </div>
    <div class="row form-group justify-content-md-center">
        <div class="col-md-3 d-flex align-items-center"><label class="m-0 ml-auto" for="totalImpuestos">Total
                Solicitado</label>
        </div>
        <div class="col-md-4">
            <input class="form-control" id="totalImpuestos" disabled value="{{totalSolicitado | currency}}">
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="col-md-2">
            <button mat-button matStepperPrevious class="btn btn-primary text-white w-100">Anterior</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-success w-100" data-toggle="modal" data-target="#guardarModal">
                Guardar
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="guardarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Guardar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Desea Guardar los cambios?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a routerLink="../../solicituddevolucion/lista" role="button" class="btn btn-primary text-white"
                        data-dismiss="modal">
                        Guardar
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>