<form [formGroup]="infoautorizacionGroup" (ngSubmit)="saveForm()">
    <!-- Titulo: Información de Solicitud -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 bg-white py-3">
                <h5 class="card-title text-center text-primary">
                    CREAR NUEVA RELACIÓN DE DE AUTORIZACIÓN
                </h5>
                <h6 class="card-title text-center text-primary">
                    {{ relacion.nombreRelacion }} RA
                </h6>
            </div>
        </div>
    </div>
    <!-- Fin Titulo: Información de Solicitud -->
    <!-- Boton: Volver a consultar registros -->
    <div class="container bg-white p-3">
        <div class="col-md-6">
            <a routerLink="../elegir">
                <button type="button" class="btn btn-primary mb-3 mt-3 text-white">
                    <div class="d-flex flex-row justify-content-around align-middle">
                        <span>Volver a registros</span>
                    </div>
                </button>
            </a>
        </div>

        <!-- Fin Boton: Volver a consultar registros -->

        <mat-divider class="col-md-12 py-2 border-warning"></mat-divider>

        <!-- Campo: No. de Solicitud y Fecha -->
        <div class="container bg-white px-3">
            <div class="form-group row">
                <div class="col-md-3">
                    <label>No. de Relacion</label>
                    <input type="text" class="form-control" formControlName="numeroRelacion" readonly>
                </div>
                <div class="col-md-3">
                    <label>Fecha</label>
                    <div class="input-group">
                        <input class="form-control" formControlName="fechaRelacion" [class.is-invalid]="fechaInvalid" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                            <i class="fas fa-calendar"></i>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin Campo: No. de Solicitud y Fecha -->
        <!-- Texto: Exclusivo para nomina de funcionarios -->
        <div class="container bg-white p-5">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="text-center">
                        ***Autorízase al Pagador, para pagar con cargo al presupuesto de la vigencia 2020 y al PAC del mes correspondiente, la nómina de la entidad UNIVERSIDAD DISTRITAL FRANCISCO JOSE DE RECTOR PAGO NÓMINA DOCENTES
                    </h6>
                </div>
            </div>
            <!-- Fin Texto: Exclusivo para nomina de funcionarios -->
        </div>

        <!-- Campos: Mes, Quincena, No. de compromiso, tipo de compromiso -->
        <div class="container bg-white px-3">
            <div class="form-group row">
                <div class="col-md-3">
                    <label>Mes***</label>
                    <select class="custom-select" formControlName="mes" [class.is-invalid]="mesInvalid">
                    <option selected disabled value="">Seleccione...</option>
                    <option>Octubre</option>
                    <option>Noviembre</option>
                    <option>Diciembre</option>
                </select>
                    <small *ngIf="mesInvalid" class="text-danger">Complete este campo</small>
                </div>
                <div class="col-md-3">
                    <label>Quincena***</label>
                    <input type="text" class="form-control" formControlName="quincena" [class.is-invalid]="quincenaInvalid">
                    <small *ngIf="quincenaInvalid" class="text-danger">Ingrese números en este campo</small>
                </div>
                <div class="col-md-3">
                    <label>No. de Compromiso</label>
                    <select class="custom-select" formControlName="numeroCompromiso" [class.is-invalid]="numeroCompromisoInvalid">
                    <option selected disabled value="">Seleccione...</option>
                    <option>...</option>
                    <option>...</option>
                    <option>...</option>
                </select>
                    <small *ngIf="numeroCompromisoInvalid" class="text-danger">Complete este campo</small>
                </div>
                <div class="col-md-3">
                    <label>Tipo de Compromiso</label>
                    <input type="text" class="form-control" formControlName="tipoCompromiso" readonly>
                </div>
            </div>
            <!-- Fin Campos: Mes, Quincena, No. de compromiso, tipo de compromiso -->
            <!-- Boton: Continuar -->
            <div class="container bg-white px-3">
                <div class="row pt-2 text-right">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success m-0 mt-4">
                        Continuar
                    </button>
                    </div>
                </div>
            </div>
            <!-- Fin Boton: Continuar -->
        </div>
    </div>
</form>