<div class="container">
    <div class="row">
        <div class="col-md-12 bg-white px-3 py-3 pt-3 pb-3">
            <h5 class="card-title text-center text-primary">
                CREAR ORDEN DE DEVOLUCIÓN
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 bg-white">
            <!-- Inicio de "Stepper" -->
            <mat-horizontal-stepper linear #stepper>
                <mat-step [stepControl]="relacionDevolucionesGroup">
                    <ng-template matStepLabel>Relación Devoluciones</ng-template>
                    <div class="container">
                        <ngx-set-relaciondevoluciones></ngx-set-relaciondevoluciones>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Guardar</ng-template>
                    <div class="container">
                        <ngx-show-resumenrelaciondevoluciones></ngx-show-resumenrelaciondevoluciones>
                    </div>
                </mat-step>
                <!-- Fin de -->
            </mat-horizontal-stepper>
            <!-- Fin de "Stepper" -->
        </div>
    </div>
</div>
