<div class="container">
    <!-- Grupo: Información de Solicitud -->
    <div class="row">
        <div class="col-md-12">
            <mat-card-header class="py-1">
                <mat-card-subtitle>
                    <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">Información de la Solicitud</h6>
                </mat-card-subtitle>
            </mat-card-header>
        </div>
    </div>
    <!-- Campo: Elegir Concepto -->
    <form #createForm="ngForm" [formGroup]="firstFormGroup">
        <div class="row px-5">
            <div class="col-md-12 py-2">

                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Concepto</mat-label>
                    <mat-select disableRipple matInput [ngModel] formControlName="firstCtrl" required>
                        <mat-option value="1">Option 1: Lorem ipsum dolor sit, amet consectetur adipisicing elit</mat-option>
                        <mat-option value="2">Option 2: Lorem ipsum dolor sit, amet consectetur adipisicing elit</mat-option>
                        <mat-option value="3">Option 3: Lorem ipsum dolor sit, amet consectetur adipisicing elit</mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="requiredField.invalid">{{getErrorMessage()}}</mat-error> -->
                    <mat-hint>Elegir concepto de solicitud</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <!-- Fin Campo: Elegir Concepto -->
        <!-- Campos: No. de Solicitud, Área funcional, fecha -->
        <div class="row px-5 py-3">
            <div class="col-md-4">
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>No. Solicitud</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Área Funcional</mat-label>
                    <mat-select matInput [ngModel] formControlName="firstCtrl" required>
                        <mat-option value="option1">Option1</mat-option>
                        <mat-option value="option2">Option2</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="fill" [style.width.%]="100">
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </form>
    <!-- Fin Campos: No. de Solicitud, Área funcional, fecha -->
    <!-- Fin Grupo: Información de Solicitud -->
</div>
<mat-divider class="col-md-12 py-2 border-warning"></mat-divider>
<div class="container">
    <!-- Grupo: Solicitante -->
    <div class="row">
        <div class="col-md-12">
            <mat-card-header class="py-1">
                <mat-card-subtitle>
                    <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">Solicitante</h6>
                </mat-card-subtitle>
            </mat-card-header>
        </div>

    </div>
    <!-- Campo: Elegir tipo de id, numero de id -->
    <form #createForm="ngForm" [formGroup]="firstFormGroup">
        <div class="row px-5 py-3">
            <div class="col-md-4">
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Tipo de ID</mat-label>
                    <mat-select disableRipple matInput [ngModel] formControlName="firstCtrl" required>
                        <mat-option value="1">Option 1</mat-option>
                        <mat-option value="2">Option 2</mat-option>
                        <mat-option value="3">Option 3</mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="requiredField.invalid">{{getErrorMessage()}}</mat-error> -->
                    <mat-hint>Elegir tipo de identificación</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Número de ID</mat-label>
                    <input matInput required>
                    <!-- <mat-error *ngIf="requiredField.invalid">{{getErrorMessage()}}</mat-error> -->
                    <mat-hint>Escribir el número de ID</mat-hint>
                </mat-form-field>
            </div>
        </div>


        <!-- Fin Campo: Elegir tipo de id, numero de id -->
        <!-- Campos: Nombres, Apellidos, Cargo -->
        <div class="row px-5 pt-2">
            <div class="col-md-4 ">
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Nombres</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Apellidos</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Cargo</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <!-- Fin Campos: Nombres, Apellidos, Cargo -->
        <!-- Fin Grupo: Solicitante -->
    </form>
</div>
<!-- Botones: Volver a registro, Siguiente -->
<div class="row pt-2">
    <div class="col-md-3">
        <button mat-button matStepperPrevious class="btn btn-primary m-0 mt-4 text-white">Volver a registros</button>
    </div>
    <div class="col-md-7"></div>
    <div class="col-md-2">
        <button mat-button matStepperNext class="btn btn-success m-0 mt-4">Siguiente</button>
    </div>
</div>
<!-- Fin Botones: Volver a registro, Siguiente -->