<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="aprobaciones" (ngSubmit)="onSubmit(aprobaciones.value)">
                <div class="card">
                    <div class="card-title col-md-4 bg-primary text-light text-center py-1 px-1 rounded">
                        Seleccione tipo de aprobación
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <label for="rAutorizacion"> 
                                    <input id="rAutorizacion" name="tipoAprobacion" value="Relación de autorización" type="radio" formControlName="tipoAprobacion" [(ngModel)]="nombreAprobacion">                                                            
                                    Relación de autorización</label>                                                                                                               
                            </div>
                            <div class="col">                                                                                                                                                                                                                               
                                <label for="oPago">
                                    <input id="oPago" name="tipoAprobacion" value="Orden de pago" type="radio" formControlName="tipoAprobacion" [(ngModel)]="nombreAprobacion">
                                    Orden de pago</label>
                            </div>
                        </div>
                    </div>    
                </div>

                <div *ngIf= "!!nombreAprobacion" class="card">
                    <div *ngIf = "nombreAprobacion === 'Relación de autorización'" class="card-title col-md-4 bg-primary text-light text-center py-1 px-1 rounded">
                        Relación de autorización
                    </div>
                    <div *ngIf = "nombreAprobacion === 'Orden de pago'" class="card-title col-md-4 bg-primary text-light text-center py-1 px-1 rounded">
                        Orden de pago
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <mat-label for="nAprobacion"> No. de aprobación </mat-label> <br>
                                <input id="nAprobacion" name="nAprobacion" type="number" formControlName="nAprobacion" required>
                            </div>
                            <div class="col">
                                <label> Área funcional </label> <br>
                                <select name="" id="" class="form-control" formControlName="areaFuncional">
                                    <option *ngFor="let area of areaFuncional" value={{area}}>{{area}}</option>
                                </select>
                            </div>
                            <div class="col"> 
                                <label> Fecha </label> <br>
                                <input type="date" formControlName="fecha"> 
                            </div>
                        </div>
                    </div>
                </div>        
                
                <div class="row group">
                    <div class="col">
                        <button routerLinkActive="active" routerLink="/pages/aprobaciones/lista" type="button" class="btn btn-primary px-3 py-2 my-2 text-light">
                            Volver al registro
                        </button>
                    </div>
                    <div class="col">
                        <button mat-button matStepperNext class="btn btn-success px-3 py-2 my-2 text-light" type="submit" [disabled]="aprobaciones.invalid ">
                            Siguiente
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
