<form [formGroup]="contabilizacionGroup" (ngSubmit)="saveForm()">
    <!-- Grupo: Información de la Solicitud -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                    {{ 'DEVOL_TRIBUTARIA.contabilizacion' | translate}}
                </h6>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label>{{ 'DEVOL_TRIBUTARIA.tipo_comprobante' | translate}}</label>
                <mat-select [disabled]="!editable" class="form-control" placeholder="{{ 'GLOBAL.seleccione' | translate}}" formControlName="tipoComprobante" [class.is-invalid]="tipoComprobanteInvalid" (selectionChange)="numerosComprobante()">
                    <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport-corto">
                        <mat-option *cdkVirtualFor="let tipoComprobante of tiposComprobante" [value]="tipoComprobante">
                            {{tipoComprobante.TipoDocumento}}
                        </mat-option>
                    </cdk-virtual-scroll-viewport>
                </mat-select>
                <small *ngIf="tipoComprobanteInvalid" class="text-danger">{{ 'GLOBAL.seleccione' | translate}}</small>
            </div>
            <div class="col-md-4">
                <label>{{ 'DEVOL_TRIBUTARIA.numero_comprobante' | translate}}</label>
                <mat-select [disabled]="!editable" class="form-control" placeholder="{{ 'GLOBAL.seleccione' | translate}}" formControlName="numeroComprobante" [class.is-invalid]="numeroComprobanteInvalid">
                    <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport-corto">
                        <mat-option *cdkVirtualFor="let comprobante of comprobantesAux" [value]="comprobante">
                            {{comprobante.Numero}}
                        </mat-option>
                    </cdk-virtual-scroll-viewport>
                </mat-select>
                <small *ngIf="numeroComprobanteInvalid" class="text-danger">{{ 'GLOBAL.seleccione' | translate}}</small>
            </div>
            <div class="col-md-4">
                <label>{{ 'GLOBAL.consecutivo' | translate}}</label>
                <input class="form-control" id="consecutivo" formControlName="consecutivo" disabled>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-8">
                <label>{{ 'SOLICITUD_GIRO.concepto' | translate}}</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button [disabled]="!editable" type="button" class="btn btn-primary" data-toggle="modal" data-target="#conceptosModal3">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <input [readonly]="!editable" class="form-control" formControlName="concepto" [class.is-invalid]="conceptoInvalid" value="{{concepto ? concepto.Codigo : ''}} - {{concepto ? concepto.Nombre : ''}}" disabled>
                </div>
                <small *ngIf="conceptoInvalid" class="text-danger">{{ 'GLOBAL.complete_campo' | translate}}</small>
            </div>
        </div>
        <!-- Tabla-->
        <div class="row pt-1">
            <div class="col-md-12 bg-white px-2 pb-3">
                <ngx-general-table [config]="configContabilizacion" [datos]="datosContabilizacion"></ngx-general-table>
            </div>
        </div>
        <div class="form-group row justify-content-end align-end">
            <div class="col-md-2">
                <label>
                    <strong>{{ 'DEVOL_TRIBUTARIA.sumas_iguales' | translate}}</strong>
                </label>
            </div>
            <div class="col-md-4">
                <label>{{ 'DEVOL_TRIBUTARIA.suma_debito' | translate}}</label>
                <input class="form-control" currencyMask id="sumaDebito" formControlName="sumaDebito" value="{{sumaDebito|currency}}" readonly>
            </div>
            <div class="col-md-4">
                <label>{{ 'DEVOL_TRIBUTARIA.suma_credito' | translate}}</label>
                <input currencyMask class="form-control" id="sumaCredito" formControlName="sumaCredito" value="{{sumaCredito|currency}}" readonly>
            </div>
        </div>
        <!-- Fin Tabla -->
    </div>
    <!-- Botones: Volver, siguiente -->
    <div class="row pt-2 text-center d-flex flex-row justify-content-around align-middle">
        <div class="form-group col-md-6">
            <button mat-button matStepperPrevious type="submit"
                class="btn btn-primary text-white m-0 mt-4">{{ 'GLOBAL.anterior' | translate}}</button>
        </div>
        <div class="form-group col-md-6">
            <button mat-button matStepperNext type="submit" class="btn btn-success m-0 mt-4">{{ 'GLOBAL.siguiente' | translate}}</button>
        </div>
    </div>
    <!-- Fin Botones: Volver, siguiente -->

    <ng-template #eliminarModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{ 'GLOBAL.borrar' | translate}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {{ 'GLOBAL.desea_borrar_registro' | translate}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">{{ 'GLOBAL.cancelar' | translate}}</button>
            <button type="button" class="btn btn-danger" (click)="modal.close(true)">{{ 'GLOBAL.borrar' | translate}}</button>
        </div>
    </ng-template>
</form>

<!-- Modal -->
<div class="modal fade" id="conceptosModal3" tabindex="-1" role="dialog" aria-labelledby="conceptosModal3"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="conceptosModalLabel">{{ 'ORDEN_PAGO.elige_concepto' | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ngx-conceptos></ngx-conceptos>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">{{ 'GLOBAL.cerrar' | translate}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="agregarConcepto()">{{ 'GLOBAL.agregar' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal -->
