<div class="container bg-white pt-3 pb-5">

    <div class="col-md-12 bg-white pb-5 py-3">
        <h5 class="card-title text-center text-primary">
            RELACIONES DE AUTORIZACIÓN
        </h5>
    </div>


    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="card text-white text-center bg-info mb-3 mx-auto" style="width: 20rem;" *ngFor="let tiporelacion of relacion; let i = index">
            <div class="card-body">
                <h5 class="card-title text-white">{{ tiporelacion.nombreRelacion }}</h5>
            </div>
            <a [routerLink]="['/pages/relacionautorizaciones/listar',i]" class="btn btn-info text-white">
                <div class="card-footer bg-transparent border-white">
                    Consultar
                </div>
            </a>
        </div>
    </div>

</div>