<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div *ngIf="tipoAnulacion === 'opago'" class="col py-2">
                    <h5 class="card-title text-center text-primary">
                        NUEVA ANULACIÓN DE ORDEN DE PAGO
                    </h5>
                </div>
                <div *ngIf="tipoAnulacion === 'rautorizacion'" class="col py-2">
                    <h5 class="card-title text-center text-primary">
                        NUEVA ANULACIÓN DE RELACIÓN DE AUTORIZACIÓN
                    </h5>
                </div>
            </div>      
            <mat-horizontal-stepper linear #stepper>
                <mat-step [completed]="primerForm">
                    <ng-template matStepLabel> Anulación </ng-template>
                    <ngx-form-document (primerForm)="validarPrimerForm($event)"></ngx-form-document>
                </mat-step>
                <mat-step [completed]="segundoForm">       
                    <ng-template matStepLabel> Detalle </ng-template>          
                    <ngx-detail-step-uno (segundoForm)="validarSegundoForm($event)"></ngx-detail-step-uno>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel> Información del pago </ng-template>
                    <ngx-detail-step-dos></ngx-detail-step-dos>
                </mat-step>
            </mat-horizontal-stepper>   
        </div>
    </div>
    
</div> 