<div class="card">
    <div class="card-body">
        <div class="card">
            <div class="card-body">
                <div class="card-title col-md-4 bg-primary text-light text-center py-1 px-1 rounded">
                    Anulación
                 </div>
                 <div class="row">

                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <label for=""> Oficio </label> <br>
                        <input type="text">
                    </div>
                    <div class="col">
                        <label for=""> Fecha de oficio </label> <br>
                        <input type="date" name="" id="">
                    </div>
                </div>
                <div class="row">
                    <label for=""> Descripción</label> <br>
                    <textarea> </textarea>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
