<form [formGroup]="autorizacionGroup" (ngSubmit)="saveForm()">
    <!-- Grupo: Información del Beneficiario -->
    <div class="container">
        <div class="row">
            <div class="col">
                <mat-card-header class="py-1">
                    <mat-card-subtitle>
                        <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                            Datos del Beneficiario
                        </h6>
                    </mat-card-subtitle>
                </mat-card-header>
            </div>
        </div>
        <!-- Campos: Tipo de ID, Número de ID -->
        <div class="form-group row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" [style.width.%]="100">
                    <mat-label>Tipo de ID</mat-label>
                    <mat-select disableRipple matInput formControlName="tipoId">
                        <mat-option value="1">Option 1</mat-option>
                        <mat-option value="2">Option 2</mat-option>
                        <mat-option value="3">Option 3</mat-option>
                    </mat-select>
                    <mat-hint>Elegir tipo de identificación</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" [style.width.%]="100">
                    <mat-label>Número de ID</mat-label>
                    <input matInput formControlName="numeroId">
                    <mat-hint>Escribir el número de ID</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <!-- Fin Campos: Tipo de ID, Número de ID-->
        <!-- Campo: Nombre (persona o entidad) -->
        <div class="form-group row">
            <div class="col">
                <mat-form-field appearance="outline" [style.width.%]="100">
                    <mat-label>Nombre (persona o entidad)</mat-label>
                    <input matInput formControlName="nombreBeneficiario">
                </mat-form-field>
            </div>
        </div>
        <!-- Fin Campo: Nombre (persona o entidad) -->
    </div>
    <!-- Fin Grupo: Información del Beneficiario -->

    <mat-divider class="col-md-12 py-2 border-warning"></mat-divider>

    <!-- Grupo: Información Presupuestal -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-card-header class="py-1">
                    <mat-card-subtitle>
                        <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                            Información Presupuestal
                        </h6>
                    </mat-card-subtitle>
                </mat-card-header>
            </div>
        </div>
        <!-- Campo: Elegir código del rubro, mostrar nombre del rubro -->
        <div class="form-group row">
            <div class="col-md-5">
                <mat-form-field appearance="outline" [style.width.%]="100">
                    <mat-label>Código del Rubro</mat-label>
                    <input matInput formControlName="codigoRubro">
                </mat-form-field>
            </div>
            <div class="col-md-5">
                <mat-form-field appearance="outline" [style.width.%]="100">
                    <mat-label>Nombre del Rubro</mat-label>
                    <input matInput formControlName="nombreRubro">
                </mat-form-field>
            </div>
        </div>
        <!-- Fin Campo: Elegir código del rubro, mostrar nombre del rubro -->
        <!-- Campos: Valor en letras y/o números -->
        <div class="form-group row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" [style.width.%]="100">
                    <mat-label>Valor (en letras)</mat-label>
                    <input matInput formControlName="valorLetras">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" [style.width.%]="100">
                    <mat-label>Valor (en números)</mat-label>
                    <input matInput formControlName="valorNumero">
                </mat-form-field>
            </div>
            <!-- Fin Campos: Valor en letras y/o números -->
        </div>
        <!-- Fin Grupo: Información Presupuestal -->

        <!-- Botones: Regresar, Siguiente -->
        <div class="container">
            <div class="row pt-2 text-center">
                <div class="col-md-6">
                    <button mat-button matStepperPrevious class="btn btn-primary text-white m-0 mt-4">Regresar</button>
                </div>
                <div class="col-md-6 form-group">
                    <button mat-button matStepperNext type="submit" class="btn btn-success m-0 mt-4">Siguiente</button>
                </div>
            </div>
        </div>
        <!-- Fin Botones: Regresar, Siguiente -->
    </div>
</form>