<form [formGroup]="infoSolicitudGroup" (ngSubmit)="saveForm()">
    <!-- Grupo: Información de Solicitud -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                    Información de la Solicitud
                </h6>
            </div>
        </div>
        <!-- Campo: Elegir Concepto -->
        <div class="form-group row">
            <div class="col">
                <label>Concepto</label>
                <mat-select [disabled]="ver" class="form-control" placeholder="Seleccione..." formControlName="concepto" [class.is-invalid]="isInvalid('concepto')">
                    <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport">
                        <mat-option *cdkVirtualFor="let concepto of conceptos" [value]="concepto">
                            {{concepto.Nombre}}
                        </mat-option>
                    </cdk-virtual-scroll-viewport>
                </mat-select>
                <small *ngIf="conceptoInvalid" class="text-danger">Complete este campo</small>
            </div>
        </div>
        <!-- Fin Campo: Elegir Concepto -->
        <!-- Campos: No. de Solicitud, Área funcional, fecha -->
        <div class="form-group row">
            <div class="col-md-3">
                <label>No. Solicitud</label>
                <input type="text" class="form-control" formControlName="numeroSolicitud" readonly>
            </div>
            <div class="col-md-4">
                <label>{{ 'GLOBAL.unidad-ejecutora' | translate}}</label>
                <mat-select [disabled]="ver" class="form-control" placeholder="Seleccione..." formControlName="areaFuncional" [class.is-invalid]="isInvalid('areaFuncional')">
                    <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport-corto">
                        <mat-option *cdkVirtualFor="let opcion of opcionesAreaFuncional" [value]="opcion">
                            {{opcion.label}}
                        </mat-option>
                    </cdk-virtual-scroll-viewport>
                </mat-select>
                <small *ngIf="isInvalid('areaFuncional')" class="text-danger">{{ 'GLOBAL.seleccione' | translate}}</small>
            </div>
        </div>
        <!-- Fin Campos: No. de Solicitud, Área funcional, fecha -->
    </div>
    <!-- Fin Grupo: Información de Solicitud -->

    <mat-divider class="col-md-12 py-2 border-warning"></mat-divider>

    <!-- Grupo: Solicitante -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                    Solicitante
                </h6>
            </div>
        </div>
        <!-- Campo: Elegir tipo de id, numero de id -->
        <div class="form-group row">
            <div class="col-md-4">
                <label>Tipo de ID</label>
                <mat-select class="form-control" placeholder="Seleccione..." formControlName="tipoId" [class.is-invalid]="isInvalid('tipoId')" [disabled]="true">
                    <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport-corto">
                        <mat-option *cdkVirtualFor="let tipoId of tiposID" [value]="tipoId">
                            {{tipoId.Nombre}}
                        </mat-option>
                    </cdk-virtual-scroll-viewport>
                </mat-select>
                <small *ngIf="isInvalid('tipoId')" class="text-danger">Complete este campo</small>
            </div>
            <div class="col-md-4">
                <label>Número de ID</label>
                <input type="number" class="form-control" formControlName="numeroId" [class.is-invalid]="numeroIdInvalid" readonly>
                <small *ngIf="numeroIdInvalid" class="text-danger">Ingrese números en este campo</small>
            </div>
        </div>
        <!-- Fin Campo: Elegir tipo de id, numero de id -->
        <!-- Campos: Nombres, Apellidos, Cargo -->
        <div class="form-group row">
            <div class="col-md-4">
                <label>Nombres</label>
                <input value="{{ datosID?.TerceroId?.PrimerNombre }} {{ datosID?.TerceroId?.SegundoNombre }}" type="text" class="form-control" formControlName="nombres" readonly>
            </div>
            <div class="col-md-4">
                <label>Apellidos</label>
                <input value="{{ datosID?.TerceroId?.PrimerApellido }} {{ datosID?.TerceroId?.SegundoApellido }}" type="text" class="form-control" formControlName="apellidos" readonly>
            </div>
            <div class="col-md-4">
                <label>Cargo</label>
                <input type="text" class="form-control" formControlName="cargo" [class.is-invalid]="cargoInvalid" readonly>
                <small *ngIf="cargoInvalid" class="text-danger">Ingrese números en este campo</small>
            </div>
            <!-- Fin Campos: Nombres, Apellidos, Cargo -->
        </div>
        <!-- Fin Grupo: Solicitante -->
        <!-- Botones: Volver a registro, Siguiente -->
        <div class="container">
            <div class="row pt-2 text-center">
                <div class="col-md-6">
                    <a href="#/pages/solicitudesgiros/lista">
                        <button type="button" class="btn btn-primary mb-3 mt-3 text-white">
                            <div class="d-flex flex-row justify-content-around align-middle">
                                <span>Volver a registros</span>
                            </div>
                        </button>
                    </a>
                </div>
                <div class="col-md-6">
                    <button mat-button matStepperNext type="submit" class="btn btn-success m-0 mt-4">
                        Siguiente
                    </button>
                </div>
            </div>
        </div>
        <!-- Fin Botones: Volver a registro, Siguiente -->
    </div>
</form>