<div class="container">
    <div class="row">
        <div class="col-md-12 bg-white px-3 py-3 pt-3 pb-3">
            <h5 class="card-title text-center text-primary text-uppercase">{{ tituloAccion }} {{ 'ORDEN_PAGO.orden_pago' | translate}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 bg-white">
            <mat-horizontal-stepper linear #stepper>
                <mat-step [stepControl]="datosBeneficiarioGroup">
                    <ng-template matStepLabel>{{ 'ORDEN_PAGO.beneficiario' | translate}}</ng-template>
                    <div class="container">
                        <ngx-set-datosbeneficiario></ngx-set-datosbeneficiario>
                    </div>
                </mat-step>
                <mat-step [stepControl]="datosCompromisoGroup">
                    <ng-template matStepLabel>{{ 'ORDEN_PAGO.compromiso' | translate}}</ng-template>
                    <div class="container">
                        <ngx-set-datoscompromiso></ngx-set-datoscompromiso>
                    </div>
                </mat-step>
                <mat-step [stepControl]="impuntuacionPresupuestalGroup">
                    <ng-template matStepLabel>{{ 'ORDEN_PAGO.imputacion_presupuestal' | translate}}</ng-template>
                    <div class="container">
                        <ngx-set-impuntuacionpresupuestal></ngx-set-impuntuacionpresupuestal>
                    </div>
                </mat-step>
                <mat-step [stepControl]="impuestosGroup">
                    <ng-template matStepLabel>{{ 'ORDEN_PAGO.impuestos_retenciones' | translate}}</ng-template>
                    <div class="container">
                        <ngx-set-impuestosyretenciones></ngx-set-impuestosyretenciones>
                    </div>
                </mat-step>
                <mat-step [stepControl]="movimientoContableGroup">
                    <ng-template matStepLabel>{{ 'ORDEN_PAGO.movimiento_contable' | translate}}</ng-template>
                    <div class="container">
                        <ngx-set-movimientocontable></ngx-set-movimientocontable>
                    </div>
                </mat-step>
                <mat-step [stepControl]="resumenGroup">
                    <ng-template matStepLabel>{{ 'GLOBAL.guardar' | translate}}</ng-template>
                    <div class="container">
                        <ngx-show-resumenordenpago></ngx-show-resumenordenpago>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>
