<div class="container">
    <div class="row">
        <div class="col-md-12 bg-white px-3 py-3 pt-3 pb-3">
            <h5 class="card-title text-center text-primary">CREAR ORDEN DE PAGO</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 bg-white">
            <mat-horizontal-stepper linear #stepper>
                <mat-step [stepControl]="datosBeneficiarioGroup">
                    <ng-template matStepLabel>Beneficiario</ng-template>
                    <div class="container">
                        <ngx-set-datosbeneficiario></ngx-set-datosbeneficiario>
                    </div>
                </mat-step>
                <mat-step [stepControl]="datosCompromisoGroup">
                    <ng-template matStepLabel>Compromiso</ng-template>
                    <div class="container">
                        <ngx-set-datoscompromiso></ngx-set-datoscompromiso>
                    </div>
                </mat-step>
                <mat-step [stepControl]="impuntuacionPresupuestalGroup">
                    <ng-template matStepLabel>Imputación Presupuestal</ng-template>
                    <div class="container">
                        <ngx-set-impuntuacionpresupuestal></ngx-set-impuntuacionpresupuestal>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>
