<form [formGroup]="inforelacionGroup" (ngSubmit)="saveForm()">
    <!-- Campo: No. de Relación y Fecha -->
    <div class="form-group row pt-3 justify-content-around">
        <div class="col-md-3">
            <label>No. de Relacion</label>
            <input type="text" class="form-control" formControlName="numeroRelacion" readonly>
        </div>
        <div class="col-md-6">
            <label>Tipo de Nómina</label>
            <mat-select class="form-control" placeholder="{{ 'GLOBAL.seleccione' | translate}}" formControlName="tipoNomina" [class.is-invalid]="isInvalid('tipoNomina')">
                <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport-corto">
                    <mat-option *cdkVirtualFor="let opcion of opcionesAreaFuncional" [value]="opcion">
                        {{opcion.label}}
                    </mat-option>
                </cdk-virtual-scroll-viewport>
            </mat-select>
        </div>
    </div>
    <!-- Fin Campo: No. de Relación y Fecha -->
    <!-- Texto -->
    <div class="container bg-white p-5">
        <div class="row">
            <div class="col-md-12">
                <h6 class="text-center">
                    {{ relacion.descripcionRelacion }}
                </h6>
            </div>
        </div>
    </div>
    <!-- Fin Texto -->
    <!-- Campos: Mes, Quincena, No. de compromiso, tipo de compromiso -->
    <div class="container bg-white px-3">
        <div class="form-group row pt-3 justify-content-around">
            <div class="col-md-5">
                <label>Salud</label>
                <mat-select class="form-control" placeholder="{{ 'GLOBAL.seleccione' | translate}}" formControlName="salud" [class.is-invalid]="isInvalid('salud')">
                    <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport">
                        <mat-option *cdkVirtualFor="let eps of salud" [value]="eps">
                            {{eps.TerceroId.NombreCompleto}}
                        </mat-option>
                    </cdk-virtual-scroll-viewport>
                </mat-select>
            </div>
            <div class="col-md-3">
                <label>Periodo Salud</label>
                <mat-select class="form-control" placeholder="{{ 'GLOBAL.seleccione' | translate}}" formControlName="periodoSalud" [class.is-invalid]="isInvalid('periodoSalud')">
                    <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport">
                        <mat-option *cdkVirtualFor="let mes of meses" [value]="mes">
                            {{mes}}
                        </mat-option>
                    </cdk-virtual-scroll-viewport>
                </mat-select>
            </div>
        </div>
        <div class="form-group row pt-3 justify-content-around">
            <div class="col-md-5">
                <label>Pensión</label>
                <mat-select class="form-control" placeholder="{{ 'GLOBAL.seleccione' | translate}}" formControlName="pension" [class.is-invalid]="isInvalid('pension')">
                    <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport">
                        <mat-option *cdkVirtualFor="let f_pens of pension" [value]="f_pens">
                            {{f_pens.TerceroId.NombreCompleto}}
                        </mat-option>
                    </cdk-virtual-scroll-viewport>
                </mat-select>
            </div>
            <div class="col-md-3">
                <label>Periodo Pensión</label>
                <mat-select class="form-control" placeholder="{{ 'GLOBAL.seleccione' | translate}}" formControlName="periodoPension" [class.is-invalid]="isInvalid('periodoPension')">
                    <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport">
                        <mat-option *cdkVirtualFor="let mes of meses" [value]="mes">
                            {{mes}}
                        </mat-option>
                    </cdk-virtual-scroll-viewport>
                </mat-select>
            </div>
        </div>
        <div class="form-group row pt-3 justify-content-around">
            <div class="col-md-5">
                <label>ARL</label>
                <mat-select class="form-control" placeholder="{{ 'GLOBAL.seleccione' | translate}}" formControlName="arl" [class.is-invalid]="isInvalid('arl')">
                    <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport">
                        <mat-option *cdkVirtualFor="let ar of arl" [value]="ar">
                            {{ar.TerceroId.NombreCompleto}}
                        </mat-option>
                    </cdk-virtual-scroll-viewport>
                </mat-select>
            </div>
            <div class="col-md-3">
                <label>Periodo ARL</label>
                <mat-select class="form-control" placeholder="{{ 'GLOBAL.seleccione' | translate}}" formControlName="periodoArl" [class.is-invalid]="isInvalid('periodoArl')">
                    <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport">
                        <mat-option *cdkVirtualFor="let mes of meses" [value]="mes">
                            {{mes}}
                        </mat-option>
                    </cdk-virtual-scroll-viewport>
                </mat-select>
            </div>
        </div>
        <div class="form-group row pt-3 justify-content-around">
            <div class="col-md-5">
                <label>Caja de Compensación</label>
                <mat-select class="form-control" placeholder="{{ 'GLOBAL.seleccione' | translate}}" formControlName="cajaCompensacion" [class.is-invalid]="isInvalid('cajaCompensacion')">
                    <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport">
                        <mat-option *cdkVirtualFor="let caja of cajaCompensacion" [value]="caja">
                            {{caja.TerceroId.NombreCompleto}}
                        </mat-option>
                    </cdk-virtual-scroll-viewport>
                </mat-select>
            </div>
            <div class="col-md-3">
                <label>Periodo Caja de Compensación</label>
                <mat-select class="form-control" placeholder="{{ 'GLOBAL.seleccione' | translate}}" formControlName="periodoCajaCompensacion" [class.is-invalid]="isInvalid('periodoCajaCompensacion')">
                    <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport">
                        <mat-option *cdkVirtualFor="let mes of meses" [value]="mes">
                            {{mes}}
                        </mat-option>
                    </cdk-virtual-scroll-viewport>
                </mat-select>
            </div>
        </div>
        <div class="form-group row pt-3 justify-content-around">
            <div class="col-md-5">
                <label>Tipo Compromiso</label>
                <mat-select class="form-control" placeholder="{{ 'GLOBAL.seleccione' | translate}}" formControlName="tipoCompromiso" [class.is-invalid]="isInvalid('tipoCompromiso')">
                    <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport">
                        <mat-option *cdkVirtualFor="let tipoCompromiso of tiposCompromisos" [value]="tipoCompromiso">
                            {{tipoCompromiso.Nombre}}
                        </mat-option>
                    </cdk-virtual-scroll-viewport>
                </mat-select>
            </div>
            <div class="col-md-3">
                <label>Numero Compromiso</label>
                <input type="text" class="form-control" formControlName="numeroCompromiso">
            </div>
        </div>
        <mat-divider class="col-md-12 border-warning"></mat-divider>

        <!-- Botones: Regresar, Siguiente -->
        <div class="row pt-2 text-center d-flex flex-row justify-content-around align-middle">
            <div class="form-group col-md-6">
                <a routerLink='/pages/relacionautorizaciones/elegir'>
                    <button type="submit" class="btn btn-primary text-white m-0 mt-4">Volver</button>
                </a>
            </div>
            <div class="form-group col-md-6">
                <button mat-button matStepperNext type="submit" class="btn btn-success m-0 mt-4">Siguiente</button>
            </div>
        </div>
        <!-- Fin Botones: Regresar, Siguiente -->
    </div>
</form>