<form [formGroup]="inforelacionGroup" (ngSubmit)="saveForm()">
    <!-- Campo: No. de Relación y Fecha -->
    <div class="form-group row pt-3">
        <div class="col-md-3">
            <label>No. de Relacion</label>
            <input type="text" class="form-control" formControlName="numeroRelacion" readonly>
        </div>
        <div class="col-md-3">
            <label>Fecha</label>
            <div class="input-group">
                <input class="form-control" formControlName="fechaRelacion" [class.is-invalid]="fechaInvalid" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                        <i class="fas fa-calendar"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Campo: No. de Relación y Fecha -->
    <!-- Texto -->
    <div class="container bg-white p-5">
        <div class="row">
            <div class="col-md-12">
                <h6 class="text-center">
                    {{ relacion.descripcionRelacion }}
                </h6>
            </div>
        </div>
    </div>
    <!-- Fin Texto -->
    <!-- Campos: Mes, Quincena, No. de compromiso, tipo de compromiso -->
    <div class="container bg-white px-3">
        <div class="form-group row">
            <div class="col-md-3">
                <label>Mes</label>
                <select class="custom-select" formControlName="mes" [class.is-invalid]="mesInvalid">
                    <option selected disabled value="">Seleccione...</option>
                    <option>Octubre</option>
                    <option>Noviembre</option>
                    <option>Diciembre</option>
                </select>
                <small *ngIf="mesInvalid" class="text-danger">Complete este campo</small>
            </div>
            <div class="col-md-3">
                <label>{{ relacion.etiqueta }}</label>
                <input type="text" class="form-control" formControlName="quincena" [class.is-invalid]="quincenaInvalid">
                <small *ngIf="quincenaInvalid" class="text-danger">Ingrese números en este campo</small>
            </div>
            <div class="col-md-3">
                <label>No. de Compromiso</label>
                <select class="custom-select" formControlName="numeroCompromiso" [class.is-invalid]="numeroCompromisoInvalid">
                    <option selected disabled value="">Seleccione...</option>
                    <option>...</option>
                    <option>...</option>
                    <option>...</option>
                </select>
                <small *ngIf="numeroCompromisoInvalid" class="text-danger">Complete este campo</small>
            </div>
            <div class="col-md-3">
                <label>Tipo de Compromiso</label>
                <input type="text" class="form-control" formControlName="tipoCompromiso" readonly>
            </div>
        </div>
        <!-- Fin Campos: Mes, Quincena, No. de compromiso, tipo de compromiso -->

        <mat-divider class="col-md-12 border-warning"></mat-divider>

        <!-- Botones: Regresar, Siguiente -->
        <div class="row pt-2 text-center d-flex flex-row justify-content-around align-middle">
            <div class="form-group col-md-6">
                <a routerLink='/pages/relacionautorizaciones/elegir'>
                    <button type="submit" class="btn btn-primary text-white m-0 mt-4">Volver a registros</button>
                </a>
            </div>
            <div class="form-group col-md-6">
                <button mat-button matStepperNext type="submit" class="btn btn-success m-0 mt-4">Siguiente</button>
            </div>
        </div>
        <!-- Fin Botones: Regresar, Siguiente -->
    </div>
</form>