<div class="container-fluid" *ngIf="config && datos">
    <div class="row">
        <div class="col-md-12">
            <!-- Barra de busqueda - filtrar -->
            <div class="form-group mb-2" *ngIf="config.filter">
                <input type="text" class="form-control py-2 mb-3 mt-3" id="buscador-tabla" aria-describedby="search-table" placeholder="Buscar..." [(ngModel)]="stringBusqueda">
            </div>
            <!-- Fin de la Barra de busqueda - filtrar -->
            <!-- Tabla de registros -->
            <div class="table-responsive" [style.max-height.px]=config.maxHeight>
                <table class="table table-bordered table-hover">
                    <!-- Encabezado de titulos -->
                    <thead class="bg-white text-dark">
                        <tr *ngIf="config.title">
                            <th scope="col" colspan="100" [class]="config.title.class">
                                {{config.title.name}}
                            </th>
                        </tr>
                        <tr *ngIf="config.showColumnTitle">
                            <th *ngIf="config.sequence" scope="col" [class]="config.sequence.title.class">{{config.sequence.title.name}}</th>
                            <ng-container *ngIf="config.checkElement">
                                <th scope="col" [class]="config.checkElement.title.class">{{config.checkElement.title.name}}</th>
                            </ng-container>
                            <ng-container *ngFor="let element of config.dataConfig">
                                <th scope="col" [class]="element.title.class">{{element.title.name}}</th>
                            </ng-container>
                            <ng-container *ngIf="config.rowActions">
                                <th scope="col" [class]="config.rowActions.title.class">{{config.rowActions.title.name}}</th>
                            </ng-container>
                        </tr>
                        <tr *ngIf="config.subtitle">
                            <th scope="col" colspan="100" [class]="config.subtitle.class">
                                {{config.subtitle.name}}
                            </th>
                        </tr>
                    </thead>
                    <!-- Fin del Encabezado de titulos -->
                    <tbody>
                        <tr *ngFor="let items of datos | filterTable:stringBusqueda; index as i">
                            <td *ngIf="config.sequence" class="align-middle text-center">
                                {{i + 1}}
                            </td>
                            <ng-container *ngIf="config.checkElement">
                                <td [class]="config.checkElement.pipe.class">
                                    <div class="form-check">
                                        <input [disabled]="config.checkElement.pipe.disabled" class="form-check-input" type="checkbox" [ngModel]="items.selected" (change)="Checked(items)"  id="defaultCheck1">
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container *ngIf="config.secuencia">
                                <td [class]="config.secuencia.pipe.class">
                                    {{ config.secuencia.pipe.type ? (items[config.secuencia.key] | multiPipe:config.secuencia.pipe.type:config.secuencia.pipe.config) : items[config.secuencia.key] }}
                                </td>
                            </ng-container>
                            <ng-container *ngFor="let data of config.dataConfig">
                                <ng-container *ngIf="!data.pipe.isArray">
                                    <td [class]="data.pipe.class">
                                        {{ data.pipe.type
                                            ? (items[data.key] | multiPipe:data.pipe.type:data.pipe.config)
                                            : items[data.key] }}
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="data.pipe.isArray">
                                    <td [class]="data.pipe.class">
                                        <ng-container *ngFor="let value of items[data.key]">
                                            <span class="my-2">{{value}}</span>
                                        </ng-container>
                                    </td>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="config.rowActions">
                                <td class="align-middle">
                                    <div [class]="config.rowActions.title.actionClass">
                                        <ng-container *ngFor="let actions of config.rowActions.actions">
                                            <div *ngIf="actions.ngIf" ngxMouseOver [class]="actions.class" data-toggle="tooltip" data-placement="top" (click)="SelectedAction(actions, items)" title="{{actions.title}}">
                                                <i [class]="actions.icon"></i>
                                            </div>
                                        </ng-container>
                                    </div>
                                </td>
                            </ng-container>
                        </tr>
                        <!-- Mensaje de "Elementos no asociados a la busqueda" -->
                        <ng-container *ngIf="config.noData">
                            <ng-container *ngIf="(datos | filterTable:stringBusqueda).length === 0">
                                <tr>
                                    <th scope="col" colspan="100" [class]="config.noData.class">
                                        {{config.noData.name}}
                                    </th>
                                </tr>
                            </ng-container>
                        </ng-container>
                        <!-- Fin de Mensaje de "Elementos no asociados a la busqueda" -->
                        <ng-container *ngIf="config.endSubtotal">
                            <tr>
                                <ng-container *ngFor="let subsection of config.endSubtotal.items">
                                    <th scope="col" [attr.colspan]="subsection.colspan" [class]="subsection.class">
                                        {{subsection.name}}
                                    </th>
                                </ng-container>
                                <ng-container *ngIf="config.endSubtotal.last.name">
                                    <th scope="col" colspan="100" [class]="config.endSubtotal.last.class">
                                        <!-- {{ config.endSubtotal.last.name | multiPipe:config.endSubtotal.last.pipe.type:config.endSubtotal.last.pipe.config }} -->
                                    </th>
                                </ng-container>
                                <ng-container *ngIf="!config.endSubtotal.last.name">
                                    <th scope="col" colspan="100" [class]="config.endSubtotal.last.class">
                                        <!-- {{ Subtotal | multiPipe:config.endSubtotal.last.pipe.type:config.endSubtotal.last.pipe.config }} -->
                                    </th>
                                </ng-container>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>

            </div>
            <!-- Fin de la Tabla de registros -->
            <!-- Botón para crear nueva solicitud de autorizacion de giro -->
            <div *ngIf="config.tableActions" class="col-12 d-flex justify-content-center">
                <ng-container *ngFor="let allAction of config.tableActions">
                    <button type="button" (click)="SelectedAllAction(allAction)" class="btn btn-primary py-2 mb-3 mt-3 text-light">
                    <div class="d-flex flex-row justify-content-around align-middle">
                        <i [class]="allAction.icon"></i>
                        <span [class]="allAction.class">
                            {{allAction.title}}
                        </span>
                    </div>
                </button>
                </ng-container>
            </div>
            <!-- Fin del Botón para crear nueva solicitud de autorizacion de giro -->
        </div>
    </div>
</div>