<form [formGroup]="datosCompromiso" (ngSubmit)="validarFormulario(datosCompromiso.value)">
    <h6 class="text-white bg-primary d-inline-block p-2 px-4 rounded">
        {{ 'ORDEN_PAGO.datos_compromiso' | translate}}
    </h6>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="compromiso">{{ 'ORDEN_PAGO.compromiso_pagar' | translate}}</label>
            <mat-select class="form-control" placeholder="{{ 'GLOBAL.seleccione' | translate}}" formControlName="compromiso" [class.is-invalid]="isInvalid('compromiso')" [disabled]="!editable">
                <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport">
                    <mat-option *cdkVirtualFor="let tipoCompromiso of tiposCompromisos" [value]="tipoCompromiso">
                        {{tipoCompromiso.Nombre}}
                    </mat-option>
                </cdk-virtual-scroll-viewport>
            </mat-select>
        </div>
        <div class="col-md-4">
            <label for="numeroCompromiso">{{ 'CRP.numero-compromiso' | translate}}</label>
            <input type="number" class="form-control" id="numeroCompromiso" formControlName="numeroCompromiso"
                [class.is-invalid]="esInvalido('numeroCompromiso')" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label>{{ 'ORDEN_PAGO.tipo_convenio' | translate}}</label>
            <mat-select class="form-control" placeholder="{{ 'GLOBAL.seleccione' | translate}}" formControlName="tipoConvenio" [class.is-invalid]="isInvalid('tipoConvenio')" (selectionChange)="consultarConvenios()" [disabled]="!editable">
                <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport-corto">
                    <mat-option *cdkVirtualFor="let tipoConvenio of tiposConvenio" [value]="tipoConvenio">
                        {{tipoConvenio.tipo_convenio}}
                    </mat-option>
                </cdk-virtual-scroll-viewport>
            </mat-select>
        </div>
        <div class="col-md-9">
            <label>{{ 'ORDEN_PAGO.convenio' | translate}}</label>
                    <input type="text" placeholder="{{ 'GLOBAL.seleccione' | translate}}" matInput [formControl]="myControl" [matAutocomplete]="auto"
                    class="form-control" formControlName="convenio" [class.is-invalid]="isInvalid('convenio')" [readonly]="!editable">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let convenio of filteredOptions | async" [value]="convenio">
                            {{convenio.data.Nombre}}
                        </mat-option>
                    </mat-autocomplete>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label>{{ 'ORDEN_PAGO.numero_acta_recibido' | translate}}</label>
            <input class="form-control" placeholder="{{datosAlmacenadosCompromiso.numeroActa}}" formControlName="actaRecibido" [class.is-invalid]="isInvalid('actaRecibido')" [readonly]="!editable">
        </div>
        <div class="col-md-6">
            <label>{{ 'ORDEN_PAGO.numero_entrada_almacen' | translate}}</label>
            <input class="form-control" id="entradaAlmacen" formControlName="entradaAlmacen" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="nombreInterventor">{{ 'GLOBAL.supervisor' | translate}}</label>
            <input class="form-control" formControlName="supervisor" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label >{{ 'GLOBAL.detalle' | translate}}</label>
            <textarea *ngIf="!!datosAlmacenadosCompromiso" class="form-control" id="detalle" placeholder="{{datosAlmacenadosCompromiso.detalle}}" formControlName="detalle" [readonly]="!editable"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="tipoOrden">{{ 'ORDEN_PAGO.tipo_orden_pago' | translate}}</label>
            <mat-select class="form-control" placeholder="{{ 'GLOBAL.seleccione' | translate}}" formControlName="tipoOrdenPago" [class.is-invalid]="isInvalid('tipoOrdenPago')" [disabled]="!editable">
                <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport-corto">
                    <mat-option *cdkVirtualFor="let tipoOrdenPago of tiposOrdenesPago" [value]="tipoOrdenPago">
                        {{tipoOrdenPago.Nombre}}
                    </mat-option>
                </cdk-virtual-scroll-viewport>
            </mat-select>
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="col-md-3">
            <button mat-button matStepperPrevious class="btn btn-primary text-white">{{ 'GLOBAL.anterior' | translate}}</button>
        </div>
        <div class="col-md-3 text-right">
            <button mat-button matStepperNext type="submit" class="btn btn-success">
                {{ 'GLOBAL.siguiente' | translate}}
            </button>
        </div>
    </div>
</form>