.card-body {
    padding: 3%;
    text-align: center;
}

.card {
    margin-top: 5%;
}

.card-title {
    margin-top: -2%;
}

input{
    height: 2rem;
}

select{
    height: 2rem;
}

label{
    padding: 0px;
    margin: 0px 0px 0px 5px;
}