<form [formGroup]=impuntuacionPresupuestal>
    <h6 class="text-white bg-primary d-inline-block p-2 px-4 rounded">
        Impuntuación Presupuestal
    </h6>
    <div class="row">
        <div class="col-md-10">
            <button class="btn btn-primary-700 w-100" type="button" data-toggle="collapse"
                data-target="#collapseHistorialOrdenes" aria-expanded="false" aria-controls="collapseHistorialOrdenes">
                Historial de órdenes de pago
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary text-white w-100" type="button" data-toggle="collapse"
                data-target="#collapseHistorialOrdenes" aria-expanded="false" aria-controls="collapseHistorialOrdenes">
                <i class="fas fa-eye"></i>
                Mostrar
            </button>
        </div>
    </div>
    <div class="collapse" id="collapseHistorialOrdenes">
        <div class="container pt-2">
            <ngx-general-table [config]="configTableHistorial" [datos]="datosTableHistorial"></ngx-general-table>
        </div>
    </div>
    <div class="row border-top border-primary mx-1 my-3"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="disponibilidad">Disponibilidad</label>
                <select class="form-control" id="disponibilidad">
                    <option>Elegir...</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="registro">Registro</label>
                <select class="form-control" id="registro">
                    <option>Elegir...</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="codigo">Código</label>
                <input type="text" class="form-control" id="codigo" disabled>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" disabled>
        </div>
        <div class="col-md-4">
            <label for="valorAplicacion">Valor Aplicación (Gasto)</label>
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                <input type="number" class="form-control" id="valorAplicacion">
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-2">
            <button class="btn btn-primary text-white w-100" type="button">
                <i class="fas fa-plus"></i> Agregar
            </button>
        </div>
    </div>
    <div class="container pt-1 mh-10">
        <ngx-general-table [config]="configTableImpuntuacion" [datos]="datosTableImpuntuacion"></ngx-general-table>
    </div>
    <div class="container">
        <div class="row pt-2 text-center">
            <div class="col-md-6">
                <button mat-button matStepperPrevious class="btn btn-primary text-white m-0 mt-4">Regresar</button>
            </div>
            <div class="col-md-6 form-group">
                <button mat-button matStepperNext type="submit" class="btn btn-success m-0 mt-4">Siguiente</button>
            </div>
        </div>
    </div>
</form>