<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col py-2">
                    <h5 class="card-title text-center text-primary">
                        CREAR NUEVA ANULACIÓN
                    </h5>
                </div>
            </div>      
            <mat-horizontal-stepper linear #stepper>
                <mat-step [completed]="anulacionForm">
                    <ng-template matStepLabel> Inicio </ng-template>
                    <ngx-form-anulacion (eleccion)="eleccionAnulacion($event)" (anulacionForm)="validarForm($event)"></ngx-form-anulacion>
                </mat-step>
                <mat-step>                 
                    <div *ngIf="tipoAnulacion === 'Orden de pago'">
                        <ngx-table [titles]="titlesOrden" [attributes]="attributesOrden" [list]="datosOrden" [seleccion]="true"></ngx-table>
                    </div>
                    <div *ngIf="tipoAnulacion === 'Relación de autorización'">
                        <ngx-table [titles]="titlesRelacion" [attributes]="attributesRelacion" [list]="datosRelacion" [seleccion]="true"></ngx-table>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button mat-button matStepperPrevious type="button" class="btn btn-primary px-3 py-2 my-2 text-light">
                                Volver al registro
                            </button>
                        </div>
                        <div class="col">
                            <button mat-button matStepperNext class="btn btn-success px-3 py-2 my-2 text-light" type="submit" (click)="crear()" [disabled]="form.aprobacionesElegidas.length === 0" >
                                Siguiente
                            </button>
                        </div>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>   
        </div>
    </div>
    
</div> 