<div class="container">
    <div class="row">
        <div class="col-md-12 bg-white py-3">
            <h6 class="card-title text-center text-primary">
                EXTRACTO DE DESAGREGACIÓN CONTABLE
            </h6>
        </div>
    </div>
    <!-- header part -->
    <ngx-set-pdfview [fileName]="fileName" [currentPage]="pageVariable" [totalPages]="totalPages" [zoomAmt]="zoom" [zoomMax]="zoomMax" [zoomMin]="zoomMin" (setZoom)="setZoom($event)" (download)="download()" (print)="print()"></ngx-set-pdfview>
    <!-- pdf-viewer section -->
    <div class="output-pdf-viewer">
        <pdf-viewer [src]="pdfSrc" [(page)]="pageVariable" [show-all]="true" [render-text]="true" [original-size]="true" [fit-to-page]="false" [autoresize]="true" [show-borders]="true" [zoom-scale]="zoomScale" [zoom]="zoom" (after-load-complete)="afterLoadComplete($event)"
            #pdfViewer></pdf-viewer>
    </div>

    <!-- Botones: Regresar, Siguiente -->
    <div class="row pt-2 text-center d-flex flex-row justify-content-around align-middle">
        <div class="form-group col-md-6">
            <a routerLink='/pages/relacionautorizaciones/elegir'>
                <button type="submit" class="btn btn-primary text-white m-0 mt-4">Regresar</button>
            </a>
        </div>
        <div class="form-group col-md-6">
            <button mat-button matStepperNext type="submit" class="btn btn-success m-0 mt-4">GUARDAR</button>
        </div>
    </div>
    <!-- Fin Botones: Regresar, Siguiente -->
</div>