<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="card-title col-md-4 bg-primary text-light text-center py-1 px-1 rounded">
                Aprobación contable
            </div>
            <div class="row">
                <form action="">
                    <label for="">No. de aprobación &nbsp; </label> 
                    <input type="text" disabled="true" placeholder="nAprobacion">
                </form>
            </div>
            <div class="table">
                <ngx-table [titles]="titles" [attributes]="attributes" [list]="datosCreacion" [seleccion]="true" [botonAprobarRechazar]="true"> </ngx-table>
            </div>
        </div>
        
    </div>
</div>
