<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="card-title col-md-4 bg-primary text-light text-center py-1 px-1 rounded">
                Aprobación contable
            </div>
            <div class="row">
                <form action="">
                    <label for="">No. de aprobación &nbsp; </label> 
                    <input *ngIf="nAprobacion !== null" type="text" disabled="true" placeholder={{nAprobacion}}>
                </form>
            </div>
            <div class="table">
                <ngx-table [titles]="titles" [attributes]="attributes" [list]="datosCreacion" [seleccion]="true"> </ngx-table>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" [disabled]="form.aprobacionesElegidas.length === 0" class="btn btn-outline-dark px-3 py-2 my-2" (click)="rechazarAprobacion()">
                        Rechazar
                    </button>
                </div>
                <div class="col">
                    <button type="button" [disabled]="form.aprobacionesElegidas.length === 0" class="btn btn-success px-3 py-2 my-2 text-light" (click)="aceptarAprobacion()">
                        Aprobar
                    </button>
                </div>
            </div> 
            <div *ngIf="form.rechazarFormulario">
                <ngx-rechazar></ngx-rechazar>
            </div>
        </div>
        
    </div>
</div>
