<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                Aprobación contable
            </div>
            <form action="">
                <label for="">No. de aprobación &nbsp; </label> 
                <input type="text" disabled="true">
            </form>
            <ngx-table [titles]="titles" [attributes]="attributes" [list]="datosCreacion" [seleccion]="true" > </ngx-table>
        </div>
    </div>
</div>
