.card-body {
    padding: 3%;
}

.card-title {
    margin-top: -5%;
}

.card{
    margin-top: 4%;
}

input{
    height: 2rem;
}


label{
    padding: 0px;
    margin: 0px;
}

.row{
    padding-top: 3%;
    text-align: left;
}
