<form [formGroup]="resumenSolicitudGroup">
    <!-- Grupo: Información de Solicitud -->
    <div class="row">
        <div class="col-md-12">
            <mat-card-header class="py-1">
                <mat-card-subtitle>
                    <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                        Información de la Solicitud
                    </h6>
                </mat-card-subtitle>
            </mat-card-header>
        </div>
    </div>
    <div class="row px-5">
        <div class="col-md-12 py-2">
            <p>show-resumensolicitudgiro works!</p>
        </div>
    </div>
</form>