<form [formGroup]="resumenSolicitudGroup">
    <!-- Grupo: Información de Solicitud -->
    <div class="row">
        <div class="col-md-12">
            <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                Resumen de la Solicitud
            </h6>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h6 class="card-title col-md-12 bg-dark text-white text-center py-2 px-2 rounded">
                    Información de la Solicitud
                </h6>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-4">
                <label>No. Solicitud</label>
                <input type="text" class="form-control" value="{{ infoSolicitudgiro?.numeroSolicitud }}" readonly>
            </div>
            <div class="col-md-4">
                <label>Área Funcional</label>
                <input type="text" class="form-control" value="{{ infoSolicitudgiro?.areaFuncional }}" readonly>
            </div>
            <div class="col-md-4">
                <label>Fecha</label>
                <input type="text" class="form-control" value="{{ infoSolicitudgiro?.fechaSolicitud | date:'dd/MM/yyyy'}}" readonly>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-12">
                <label>Concepto</label>
                <input type="text" class="form-control" value="{{ infoSolicitudgiro?.concepto }}" readonly>
            </div>
        </div>
    </div>
    <!-- Fin Grupo: Información de Solicitud -->
    <!-- Grupo: Solicitante -->
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h6 class="card-title col-md-12 bg-dark text-white text-center py-2 px-2 rounded">
                    Solicitante
                </h6>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-12">
                <label>Nombre Completo</label>
                <input type="text" class="form-control" value="{{ datosSolicitante?.TerceroId?.NombreCompleto }}" readonly>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-4">
                <label>Tipo de ID</label>
                <input type="text" class="form-control" value="{{ infoSolicitudgiro?.tipoId.CodigoAbreviacion }}" readonly>
            </div>
            <div class="col-md-4">
                <label>Número de ID</label>
                <input type="text" class="form-control" value="{{ infoSolicitudgiro?.numeroId }}" readonly>
            </div>
            <div class="col-md-4">
                <label>Cargo</label>
                <input type="text" class="form-control" value="{{ infoSolicitudgiro?.cargo }}" readonly>
            </div>
        </div>
    </div>
    <!-- Fin Grupo: Solicitante -->
    <!-- Grupo: Lista de Documentos -->
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-12">
                <button #btnDocumentos class="card-title col-md-12 btn btn-primary-800 text-dark" type="button" data-toggle="collapse" data-target="#collapseDocumentos" aria-expanded="false" aria-controls="collapseDocumentos" (click)="mostrarOcultarDocumentos(btnDocumentos.getAttribute('aria-expanded'))">
                    Lista de Documentos
                    <i class="fas {{mostrarOcultarIcono}} text-ligth"></i>
                </button>
            </div>
        </div>
        <!-- Tabla: Listado de Documentos Agregados-->
        <div class="row">
            <div class="col-md-12">
                <div class="collapse" id="collapseDocumentos">
                    <div class="card card-body">
                        <!-- Tabla General Adaptada -->
                        <ngx-general-table [config]="configuracion" [datos]="datosDocumentos"></ngx-general-table>
                        <!-- Fin Tabla General Adaptada -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin Tabla: Listado de Documentos Agregados-->
    </div>
    <!-- Fin Grupo: Lista de Documentos -->
    <!-- Grupo: Datos del Beneficiario -->
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h6 class="card-title col-md-12 bg-dark text-white text-center py-2 px-2 rounded">
                    Datos del Beneficiario
                </h6>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-6">
                <label>Tipo de ID</label>
                <input type="text" class="form-control" value="{{ autorizacionGiro?.tipoId.CodigoAbreviacion }}" readonly>
            </div>
            <div class="col-md-6">
                <label>Número de ID</label>
                <input type="text" class="form-control" value="{{ autorizacionGiro?.numeroId }}" readonly>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-12">
                <label>Nombre Completo</label>
                <input type="text" class="form-control" value="{{ datosBeneficiario?.TerceroId?.NombreCompleto }}" readonly>
            </div>
        </div>
    </div>
    <!-- Fin Grupo: Datos del Beneficiario -->
    <!-- Grupo: Información Presupuestal -->
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h6 class="card-title col-md-12 bg-dark text-white text-center py-2 px-2 rounded">
                    Información Presupuestal
                </h6>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-6">
                <label>Código del Rubro</label>
                <input type="text" class="form-control" value="{{ autorizacionGiro?.rubroSeleccionado.data.Codigo }}" readonly>
            </div>
            <div class="col-md-6">
                <label>Nombre del Rubro</label>
                <input type="text" class="form-control" value="{{ autorizacionGiro?.rubroSeleccionado.data.Nombre }}" readonly>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-8">
                <label>Valor en Letras</label>
                <input type="text" class="form-control" value="{{ autorizacionGiro?.valorLetras }}" readonly>
            </div>
            <div class="col-md-4">
                <label>Valor en Número</label>
                <input type="text" class="form-control" value="{{ autorizacionGiro?.valorNumero }}" readonly>
            </div>
        </div>
    </div>
    <!-- Fin Grupo: Información Presupuestal -->

    <!-- Botones: Regresar, Siguiente -->
    <div class="container">
        <div class="row pt-2 text-center">
            <div class="col-md-6">
                <button mat-button matStepperPrevious class="btn btn-primary text-white m-0 mt-4">Regresar</button>
            </div>
            <div class="col-md-6 form-group">
                <button type="button" class="btn btn-success text-white m-0 mt-4" data-toggle="modal" data-target="#exampleModal2">
                    GUARDAR</button>
            </div>
        </div>
    </div>
    <!-- Fin Botones: Regresar, Siguiente -->
</form>


<!-- Modal: Solicitud Guardada -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal2Label"><i class="fas fa-check text-success"></i>¡Guardado!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p class="text-center">Se ha guardado la Solicitud de Autorización de Giro No. 001.</p>
                <p class="text-center">Estado: Elaborado</p>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" >Close</button> -->
                <a routerLink="../../solicitudesgiros/lista" role="button" class="btn btn-primary" data-dismiss="modal">
                    Aceptar
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal: Solicitud Guardada -->