<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col py-2">
                    <h5 class="card-title text-center text-primary">
                        CREAR NUEVA RELACIÓN DE AUTORIZACIÓN
                    </h5>
                    <h6 class="card-subtitle text-center text-primary">
                        <!-- {{ relacion.nombreRelacion }} -->
                    </h6>
                </div>
            </div>
            <!-- Inicio de "Stepper" -->
            <mat-horizontal-stepper [linear]="true" #stepper>
                <!-- Paso 1: Inicio (información de relacion de autorización) -->
                <mat-step label="Inicio" [stepControl]="inforelacionGroup">
                    <div class="container">
                        <ngx-set-infonuevarelacion></ngx-set-infonuevarelacion>
                    </div>
                </mat-step>
                <!-- Fin de Información de relacion de autorización -->
                <!-- Paso 2: Consulta (Se consulta CDP y RP y se muestra la información en tabla) -->
                <mat-step label="Consulta">
                    <div class="container">
                        <button mat-button matStepperPrevious>Regresar</button>
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </mat-step>
                <!-- Fin de Consulta -->
                <!-- Paso 3: Relación por concepto (se muestra la informacion que se trae de bd) -->
                <mat-step label="Relación por Concepto">
                    <div class="container">
                        <button mat-button matStepperPrevious>Regresar</button>
                    </div>
                </mat-step>
                <!-- Fin de Relación por concepto -->
                <!-- Paso 3: Extracto de Desagregacion -->

                <!-- Fin Extracto de Desagregacion -->
            </mat-horizontal-stepper>
            <!-- Fin de "Stepper" -->
        </div>
    </div>
</div>