<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col py-2">
                    <h5 class="card-title text-center text-primary">
                        CREAR NUEVA RELACIÓN DE AUTORIZACIÓN
                    </h5>
                    <h6 class="card-title text-center text-primary">
                        {{ relacion.nombreRelacion }}
                    </h6>
                </div>
            </div>
            <!-- Inicio de "Stepper" -->
            <mat-horizontal-stepper linear #stepper>
                <!-- Paso 1: Inicio (información de solicitud y solicitante) -->
                <mat-step [stepControl]="inforelacionGroup" optional>
                    <ng-template matStepLabel>Inicio</ng-template>
                    <div class="container">
                        <ngx-set-infonuevarelacion></ngx-set-infonuevarelacion>
                    </div>
                </mat-step>
                <!-- Fin de Información de solicitud y solicitante -->
                <!-- Paso 2: Documentos (Cargar documentos de la solicitud de giro) -->
                <mat-step [stepControl]="consultaGroup" optional>
                    <ng-template matStepLabel>Consulta</ng-template>
                    <div class="container">
                        <ngx-set-consultanuevarelacion></ngx-set-consultanuevarelacion>
                    </div>
                </mat-step>
                <!-- Fin de Carga de Documentos -->
                <!-- Paso 3: Autorización de solicitud de giro -->
                <mat-step>
                    <ng-template matStepLabel>Relación por Concepto</ng-template>
                    <div class="container">
                        <ngx-set-conceptonuevarelacion></ngx-set-conceptonuevarelacion>
                    </div>
                </mat-step>
                <!-- Fin de Autorización de solicitud de giro -->
                <!-- Paso 4: Extrato de desagregacion contable -->
                <mat-step>
                    <ng-template matStepLabel>Extracto</ng-template>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 bg-white py-3">
                                <h6 class="card-title text-center text-primary">
                                    EXTRACTO DE DESAGREGACIÓN CONTABLE
                                </h6>
                            </div>
                        </div>
                        <ngx-set-extractodesagregacion></ngx-set-extractodesagregacion>
                    </div>
                    <!-- Botones: Regresar, Siguiente -->
                    <div class="row pt-2 text-center d-flex flex-row justify-content-around align-middle">
                        <div class="form-group col-md-6">
                            <a routerLink='/pages/relacionautorizaciones/elegir'>
                                <button type="submit" class="btn btn-primary text-white m-0 mt-4">Regresar</button>
                            </a>
                        </div>
                        <div class="form-group col-md-6">
                            <button mat-button matStepperNext type="submit" class="btn btn-success m-0 mt-4">GUARDAR</button>
                        </div>
                    </div>
                    <!-- Fin Botones: Regresar, Siguiente -->
                </mat-step>
                <!-- Fin Extrato de desagregacion contable -->
            </mat-horizontal-stepper>
            <!-- Fin de "Stepper" -->

        </div>
    </div>
</div>