<div class="container">
    <div class="row">
        <div class="col-md-12 bg-white py-3">
            <h5 class="card-title text-center text-primary">
                RELACIONES DE AUTORIZACIÓN
            </h5>
            <h6 class="card-title text-center text-primary" *ngFor="let tiporelacion of tiporelacion">
                {{ tiporelacion.nombreRelacion }}
            </h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 bg-white px-5 d-flex flex-row justify-content-start">
            <a routerLink="../../elegir">
                <button type="button" class="btn btn-primary text-white">
                    <div class="d-flex flex-row justify-content-around align-middle">
                        <i class="fas fa-long-arrow-alt-left py-1 px-2"></i>Regresar
                    </div>
                </button>
            </a>
        </div>
        <div class="col-md-6 bg-white px-5 d-flex flex-row justify-content-end">
            <a routerLink="../../crear">
                <button type="button" class="btn btn-primary text-white">
                    <div class="d-flex flex-row justify-content-around align-middle">
                        <i class="fas fa-plus py-1 px-2"></i>Crear Nueva Relación de Autorización
                    </div>
                </button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 bg-white px-4 pb-3">
            <ngx-general-table [config]="configuracion" [datos]="datosTabla"></ngx-general-table>
        </div>
    </div>
</div>