<div class="card">
    <div class="card-body">
        <div class="titles">
            <div class="card-title col-md-4 bg-primary text-light text-center py-1 ml-2 rounded">
                Información presupuestal
            </div>
            <div class="card-title info col-md-4 text-light text-center py-1 ml-2 rounded">
                Información financiera y contable
            </div>
        </div>
        <ngx-table [titles]="titles" [attributes]="attributes" [list]="datos"></ngx-table>
        <hr>
        <div class="row float-right">
            <label for="valorBruto"> Valor bruto </label>
            <input id="valorBruto" name="valorBruto" class="px-2 ml-3 mr-3" type="text" placeholder="$ 3.000.000,00">
        </div>
    </div>
</div>
<div class="row group">
    <div class="col">
        <button mat-button matStepperPrevious type="button" class="btn btn-primary px-3 py-2 my-2 text-light">
            Volver
        </button>
    </div>
    <div class="col">
        <button mat-button matStepperNext class="btn btn-success px-3 py-2 my-2 text-light">
            Continuar
        </button>
    </div>
</div>
