<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col py-2">
                    <h5 class="card-title text-center text-primary">
                        BORRAR ORDEN
                    </h5>
                </div>
            </div>      
            <mat-horizontal-stepper linear #stepper>
                <mat-step [completed]="borradoForm">
                    <ng-template matStepLabel> Inicio </ng-template>
                    <ngx-form-borrado (eleccionCuenta)="eleccionBorrado($event)" (borradoForm)="validarForm($event)"></ngx-form-borrado>
                </mat-step>
                <mat-step>
                  <p *ngIf="tipoBorrado === 'Orden de pago'"> Seleccione las órdenes de pago que desea borrar: </p>
                  <p *ngIf="tipoBorrado === 'Relación de autorización'"> Seleccione las relaciones de autorización que desea borrar: </p>
                    <div *ngIf="tipoBorrado === 'Orden de pago'">
                        <ngx-table [titles]="titlesOrden" [attributes]="attributesOrden" [list]="datosOrden" [seleccion]="true" [filtro]="true"></ngx-table>
                    </div>
                    <div *ngIf="tipoBorrado === 'Relación de autorización'">
                        <ngx-table [titles]="titlesRelacion" [attributes]="attributesRelacion" [list]="datosRelacion" [seleccion]="true" [filtro]="true"></ngx-table>
                    </div>                 
                    <div class="row text-center px-5">
                        <div class="col">
                            <button mat-button matStepperPrevious type="button" class="btn btn-primary px-3 py-2 my-2 text-light">
                                Volver al registro
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-success px-3 py-2 my-2 text-light" type="submit" (click)="open(modal)" [disabled]="form.aprobacionesElegidas.length === 0">
                                Continuar
                            </button>
                        </div>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>   
        </div>
    </div> 
</div>

<ng-template #modal let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <span class="material-icons m-3 help text-center align-middle">
          help
          </span>
        <h5 class="modal-title" id="exampleModalLabel">Borrar órdenes de pago seleccionadas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="justificacionBorrado" (ngSubmit)="crear(justificacionBorrado.value)">
      <div class="modal-body">
          <div class="form-group">
            <label for="nombreResponsable">Nombre del responsable: </label>
            <input formControlName="nombreResponsable" type="text" class="form-control" id="nombreResponsable" placeholder="Escribir...">
          </div>
          <div class="form-group">
            <label for="justificacion">Justificación:</label>
            <textarea formControlName="justificacion" class="form-control" id="justificacion" placeholder="Escribir..."></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Cancelar</button>
        <button mat-button type="submit" class="btn btn-primary" [disabled]="justificacionBorrado.invalid">Continuar</button>
      </div>
    </form>
</div> 
</ng-template>