.mat-tab-label {
    background-color: #757575;
    color: white;
    margin-right: 1.5rem;
    border-radius: 10px;
    opacity: 1 !important;
    height: 38px !important;
}

.mat-tab-label-active {
    background-color: #dd9900;
}
